body {
  margin: 0;
  /* padding: 50px; */
  font-size: 18px;
}

header {
  padding: 50px;
  display: flex;
  gap: 20px;
}

main {
  display: flex;
  /* gap: 50px; */
}

main.resources {
  display: flex;
  flex-direction: column;
}

img {
  width: 50dvw;
  /* height: calc(100dvh - 120.5px); */
}

thead {
  font-weight: bold;
}
