@import url("https://fonts.googleapis.com/css?family=Mirza|Open+Sans:400,400i");

:root {
  --headHeight: 200px;
  --footHeight: 100px;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-size: 48px;
  font-family: "Mirza", cursive;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 255, 1);
}

.header,
.footer {
  position: sticky;
  left: 0;
  text-align: center;
  /* border: 1px solid yellow; */
}

.header {
  flex: 0 1 auto;
}

.footer {
  flex: 0 1 auto;
}

#xScrollParent {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#xScrollChild {
  height: calc(100% - (var(--headHeight) + var(--footHeight)));
  max-height: 800px;

  font-size: 0;
  white-space: nowrap;
  /* border: 1px solid red; */
}

#yScrollParent {
  overflow: auto;
}

.project {
  height: 100%;
  display: inline-block;
  margin-right: 75px;
  position: relative;
}

.project:first-child {
  margin-left: 75px;
}

img {
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  width: auto;
  height: 60%;
  margin-bottom: 20px;
  margin-top: 10%;
}

.info {
  white-space: normal;
  position: absolute;
  /* height: 40%; */
  font-size: 16px;
}

/* Mobile Portrait */
@media (max-width: 580px) {
  body {
    height: 100% !important;
    top: 0;
    left: 0;
  }

  .scroll-container {
    position: relative;
    height: auto;
  }

  .header,
  .footer,
  #x-scroll-content {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    transform: none;
    margin: 50px 0 20px 0;
  }

  #x-scroll-content {
    box-sizing: border-box;
    padding: 0 50px 0 50px;
  }

  li {
    display: block;
    margin: 0 0 50px 0;
    width: 100%;
  }
}
