html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: rgba(0,0,255,1);
}

html {
  width: 100%;
  height: 100%;
	-ms-overflow-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Mirza', cursive;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
	margin-bottom: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.header, .footer {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.footer {
  top: auto;
  bottom: 50px;
}

.scroll-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  padding: 0;
}

.thumb-link {
  display: block;
  margin: 10px 0 20px 0;
  font-size: 0px;
}

li {
  width: 500px;
  list-style: none;
  display: inline-block;
  margin: 0 50px 0 50px;
  vertical-align: top;
}

.info {
  white-space: normal;
  width: 100%;
}

img {
  width: 100%;
  -moz-box-shadow:    1px 1px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 10px rgba(0,0,0,0.5);
}



/* Mobile Portrait */
@media (max-width: 580px) {
  body {
    height: 100% !important;
    top: 0;
    left: 0;
  }

  .header, .footer, ul {
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    transform: none;
    margin: 50px 0 20px 0;
  }

  .scroll-container {
    position: relative;
    height: auto;
  }

  ul {
    box-sizing: border-box;
    padding: 0 50px 0 50px;
  }

  li {
    display: block;
    margin: 0 0 50px 0;
    width: 100%;
  }
}
