@import url("https://fonts.googleapis.com/css?family=Mirza|Open+Sans:400,400i");

:root {
  --headerHeight: 150px;
}

/* resets */
html,
body,
div,
span,
a,
iframe,
h1,
h2,
img,
header,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3em;
  font-family: "Mirza", cursive;
}

h2 {
  font-size: 1.5em;
  font-family: "Mirza", cursive;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 255, 1);
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  text-align: center;
  height: var(--headerHeight);
  justify-content: flex-end;
}

#xScrollParent {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#xScrollChild {
  position: absolute;
  top: calc(50% + var(--headerHeight) / 2);
  transform: translateY(-50%);
  white-space: nowrap;
}

.project {
  width: 500px;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 75px;
}

.project:first-child {
  margin-left: 75px;
}

img,
video {
  width: 500px;
  height: 313px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
  background-color: white;
  margin-bottom: 15px;
}

video {
  background-color: black;
}

.info {
  white-space: normal;
  width: 100%;
}

/* Mobile Portrait */
@media screen and (max-width: 580px), screen and (max-height: 600px) {
  header,
  .project {
    display: block;
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    transform: none;
    margin: 50px 0 20px 0 !important;
  }

  img,
  video {
    width: 100%;
    height: auto;
  }

  #xScrollChild {
    top: 0;
    transform: none;
    position: relative;
    box-sizing: border-box;
    padding: 0 50px 0 50px;
  }
}
