
<html>

  <head>
    <title>Dashboard Index | AccelerationVMS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript">
      var MTIProjectId='02c4fc8d-99e1-408c-b167-8e4543887bdd';
      (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
        mtiTracking.src='js/mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
       })();
    </script>

    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/slick.css" />
    <link rel="stylesheet" href="css/vendor/slick-theme.css" />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>

  <body class="page-dashboard nav-bar-expanded">
    <div class="dev-grid container-fluid">
    	<div class="row">
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    	</div>
    </div>

    <div class="main-container">
      <div class="nav-bar-container">
        <div class="nav-bar">
        
          <div class="nav-bar__logo">
            <img src="img/accel-logo-off-white.svg" alt="Acceleration VMS" />
          </div>
        
          <div class="nav-bar__burger">
            <div class="nav-bar__burger-inner"></div>
          </div>
        
          <ul class="nav-bar__items nav-bar__items--mobile-bar">
            <li class="nav-bar__item nav-bar__item--has-new">
              <a href="#" data-menu-id="todo">To Do <span class="nav-bar__item-count">138</span></a>
            </li>
            <li class="nav-bar__item nav-bar__item--has-new">
              <a href="#" data-menu-id="messages">Messages <span class="nav-bar__item-count">9</span></a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="bookmarks">Bookmarks</a>
            </li>
          </ul>
        
          <ul class="nav-bar__items nav-bar__items--mobile-menu">
            <li class="nav-bar__item nav-bar__item--mobile-search hidden-lg-up">
              <a href="#">
                <i class="material-icons search-icon">search</i>
                Search
                <i class="material-icons">close</i>
              </a>
            </li>
        
            <li class="nav-bar__item">
              <a href="#" data-menu-id="jobs">
                Jobs <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="projects">
                Projects <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="people">
                People <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="invoices">
                Invoices <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="reports">
                Reports + Charts <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#">Timecards</a>
            </li>
            <li class="nav-bar__item">
              <a href="#">ICC</a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="help">
                Need Help? <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
        
            <li class="nav-bar__item hidden-md-up">
              <a href="#" data-menu-id="help">
                Richard James <i class="material-icons">keyboard_arrow_right</i>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="nav-bar-menu-scrim"></div>
        
        <div class="nav-bar-menu" data-menu-id="todo">
          <div class="nav-bar-menu__header">
            To Do <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item nav-bar-menu__item--is-new" href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Approve Requisition</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
              <a class="nav-bar-menu__item nav-bar-menu__item--is-new" href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Approve Engagement</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
              <a class="nav-bar-menu__item " href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Review Candidate</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
              <a class="nav-bar-menu__item " href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Complete Survey</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
              <a class="nav-bar-menu__item " href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Approve Project Task Completion</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
              <a class="nav-bar-menu__item " href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Approve Timecard / Expense</div>
                  <div>Leidos Auditor #5674</div>
                </div>
              </a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--wide" data-menu-id="messages">
          <div class="nav-bar-menu__header">
            Messages <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item nav-bar-menu__item--is-new" href="#">
                <div class="nbmi-content">
                  <div>Feb 26, 2017 12:34 AM PT</div>
                  <div class="nbmi-title">Lorem ipsum dolor sit amet, consectetur adipiscing...</div>
                  <div>Leidos Auditor #5674</div>
                  <span class="del-btn"><i class="material-icons">close</i></span>
                </div>
              </a>
          </div>
        </div>
        
        <div class="nav-bar-menu" data-menu-id="bookmarks">
          <div class="nav-bar-menu__header">
            Bookmarks <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Job Req #3645, Receptionist</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Max Weber, Candidate #5986</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Joanna Smith, Worker #2546</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Auction #4058, SDGE Holiday Labor</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Report Lorem Ipsum Dolor Sit Amet</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Job Req #3645, Receptionist</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Max Weber, Candidate #5986</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Joanna Smith, Worker #2546</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Auction #4058, SDGE Holiday Labor</div>
                </div>
                <span class="del-btn"><i class="material-icons">close</i></span>
              </a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="jobs">
          <div class="nav-bar-menu__header">Jobs <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        </div>
          <a class="nav-bar-menu__action" href="#">
            <i class="material-icons">add</i> Create a New Job
          </a>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">All Jobs</a>
              <a class="nav-bar-menu__item" href="#">Pending My Approval</a>
              <a class="nav-bar-menu__item" href="#">Pending Approval by Others</a>
              <a class="nav-bar-menu__item" href="#">Open Jobs</a>
              <a class="nav-bar-menu__item" href="#">Active Jobs</a>
              <a class="nav-bar-menu__item" href="#">Draft Jobs</a>
          </div>
        
          <div class="nav-bar-menu__header">Assignments</div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">All Assignments</a>
              <a class="nav-bar-menu__item" href="#">Newly Engaged Assignments</a>
              <a class="nav-bar-menu__item" href="#">Assignments Ending in 30 Days</a>
              <a class="nav-bar-menu__item" href="#">Assignment Rate Negotiations</a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="projects">
          <div class="nav-bar-menu__header">Projects <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        </div>
          <a class="nav-bar-menu__action" href="#">
            <i class="material-icons">add</i> Create a New Project
          </a>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">All Projects</a>
              <a class="nav-bar-menu__item" href="#">Pending My Approval</a>
              <a class="nav-bar-menu__item" href="#">Pending Approval by Others</a>
              <a class="nav-bar-menu__item" href="#">My Drafts</a>
              <a class="nav-bar-menu__item" href="#">Manage E-Auctions</a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="people">
          <div class="nav-bar-menu__header">
            People <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">All People</div>
                </div>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">My Interviews</div>
                </div>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">New Contingent Workers</div>
                </div>
              </a>
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">Candidate Rate Negotiations</div>
                </div>
              </a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="invoices">
          <div class="nav-bar-menu__header">
            Invoices <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
              <a class="nav-bar-menu__item" href="#">
                <div class="nbmi-content nbmi-content--no-new">
                  <div class="nbmi-title">All Invoices</div>
                </div>
              </a>
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="reports">
          <div class="nav-bar-menu__header">
            Reports + Charts <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="help">
          <div class="nav-bar-menu__header">
            Help <a href="#" class="close-btn"><i class="material-icons">arrow_back</i></a>
          </div>
          <div class="help-content">
          
            <div class="help-content-contact">
              <h4>Support</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-contact">
              <h4>Admin</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-contact">
              <h4>On-Site</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-guide">
              <a href="https://ag.agile1.com/EP.Web.Doc/help/en-US/Manager/default.htm" target="_blank">Help Guide <i class="material-icons">arrow_forward</i></a>
            </div>
          
          </div>
        </div>
      </div>

        <div class="banner banner--state-collapse banner-system-maintenance hidden-sm-down">
          <div class="banner__header">
            <span class="banner__alert-icon"><i class="icomoon-alert"></i></span>
            <span class="banner__text">System Downtime Scheduled for September 27, 2017 12:34 AM to 01:23 PM</span>
            <div class="banner__expand-icon">
              <i class="icomoon-plus icon-expand"></i>
              <i class="icomoon-minus icon-collapse"></i>
            </div>
          </div>
          <div class="banner__content">
            Acceleration VMS will be unavailable Saturday night from Sunday 12 am to 4 am PST for a security upgrade. If this disrupts any regularly scheduled processes for your team, please contact your Acceleration administrator as soon as possible to reschedule.
          </div>
        </div>

      <div class="header">
        <div class="header__content">
        <div class="header__title">Hello, Aubryn</div>
        </div>
        <div class="header__button"><i class="icomoon-search"></i></div>
        <div class="header__button"><i class="icomoon-bookmark-no-fill"></i></div>
      </div>

      <div class="body-container container-fluid">

  <div class="row">
    <div class="dashboard__module dashboard__module--todos col-lg-6">
      <h1>To Do &ndash; Hire</h1>
      <div class="todos">
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">3</span>
              <span class="todo__title">Approve Requisition</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">6</span>
              <span class="todo__title">Manage Related Requisition</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">9</span>
              <span class="todo__title">Approve Payment Schedule</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">12</span>
              <span class="todo__title">Review Candidate</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">3</span>
              <span class="todo__title">Negotiate Rate</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">6</span>
              <span class="todo__title">Approve Engagement</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">9</span>
              <span class="todo__title">Approve Project</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">12</span>
              <span class="todo__title">Review Proposals</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">3</span>
              <span class="todo__title">Approve Proposals</span>
            </a>
          </div>
      </div>
    </div>

    <div class="dashboard__module dashboard__module--todos col-lg-6">
      <h1>To Do &ndash; Manage</h1>
      <div class="todos">
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">6</span>
              <span class="todo__title">Approve Extension / Rate Change</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">9</span>
              <span class="todo__title">Approve Additional Expenses</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">12</span>
              <span class="todo__title">Approve Renewal</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">3</span>
              <span class="todo__title">Approve Project Task Completion</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">6</span>
              <span class="todo__title">Manage Rejected Extension / Rate Change</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">9</span>
              <span class="todo__title">Approve Timecard / Expense</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">12</span>
              <span class="todo__title">Approve Additional Payment Schedule</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">3</span>
              <span class="todo__title">Sign Contract</span>
            </a>
          </div>
          <div class="todo todo--is-new">
            <a href="#" class="todo__content">
              <span class="todo__count">6</span>
              <span class="todo__title">Complete Survey</span>
            </a>
          </div>
          <div class="todo ">
            <a href="#" class="todo__content">
              <span class="todo__count">9</span>
              <span class="todo__title">Pre-Approve Timecard / Expense</span>
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="row row--mobile-no-gutters">
    <div class="dashboard__module notifications col-md-12">
      <h1>Notifications</h1>
      <div class="list__container ">
        <div class="list__header">
          <div class="header-sort name-desc" data-sort-dir="down">
            <span>Column Title</span>
          </div>
          <div class="header-sort time">
            <span>Date + Time</span>
          </div>
        </div>
        <ul class="dashboard-list">
            <li class="list-item list-item--is-new">
              <div class="list-item__name-desc">
                <div class="title">Lorem Ipsum Dolor</div>
                <div>A Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-05-01T12:00:10-07:00">
                May 01, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
            <li class="list-item list-item--is-new">
              <div class="list-item__name-desc">
                <div class="title">Ablem Ipsum Dolor</div>
                <div>B Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-05-10T12:00:10-07:00">
                May 10, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
            <li class="list-item ">
              <div class="list-item__name-desc">
                <div class="title">Zablem Ipsum Dolor</div>
                <div>F Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-05-31T12:00:10-07:00">
                May 31, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
            <li class="list-item ">
              <div class="list-item__name-desc">
                <div class="title">Ipsum Dolor</div>
                <div>E Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-06-01T12:00:10-07:00">
                Jun 01, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
            <li class="list-item ">
              <div class="list-item__name-desc">
                <div class="title">Dolor</div>
                <div>D Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-07-01T12:00:10-07:00">
                Jul 01, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
            <li class="list-item ">
              <div class="list-item__name-desc">
                <div class="title">Lorem Lorem</div>
                <div>C Lorem ipsum dolor set amet ipsum dolor set amet</div>
              </div>
              <div class="list-item__time" data-sort-value="2017-10-01T12:00:10-07:00">
                Oct 01, 2017 @ 07:00 PM
              </div>
              <div class="end-icon del-btn">
                <i class="material-icons">close</i>
              </div>
            </li>
          <li class="list-item list-item--empty">You're all caught up</li>
        </ul>
        <div class="list__count hidden-lg-up">
          <span class="list__count-current">1</span> /
          <span class="list__count-total">6</span>
        </div>      </div>
    </div>
  </div>

    <div class="row row--mobile-no-gutters">
      <div class="dashboard__module interviews col-md-12">
        <h1>Interviews</h1>
        <div class="list__container">
          <div class="list__header" data-sort="alpha">
            <div class="header-sort candidate" data-sort-dir="down">
              <span>Candidate</span>
            </div>
            <div class="header-sort requisition">
              <span>Requisition</span>
            </div>
            <div class="header-sort time">
              <span>Date + Time</span>
            </div>
            <div class="header-sort status">
              <span>Status</span>
            </div>
          </div>

          <script type="text/javascript">function onAtcClick(e) { window.onCalIconClick(e) }</script>

          <ul class="dashboard-list">
              <li class="list-item list-item--is-new">
                <div class="list-item__candidate">
                  <span class="title">Alpha Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#01234 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-05-31T11:58:49.3320776-07:00">
                  <span>May 31, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>confirmed</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item list-item--is-new">
                <div class="list-item__candidate">
                  <span class="title">Beta Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#9367 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-06-30T11:58:49.3320776-07:00">
                  <span>Jun 30, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>unknown</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Charlie Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#23456 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-07-31T11:58:49.3320776-07:00">
                  <span>Jul 31, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>confirmed</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Danger Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#40 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-08-31T11:58:49.3320776-07:00">
                  <span>Aug 31, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>pending</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Danger Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#40 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-09-11T11:58:49.3320776-07:00">
                  <span>Sep 11, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>pending</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Danger Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#40 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-10-30T11:58:49.3320776-07:00">
                  <span>Oct 30, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>pending</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Danger Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#40 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-11-13T11:58:49.3320776-07:00">
                  <span>Nov 13, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>pending</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>
              <li class="list-item ">
                <div class="list-item__candidate">
                  <span class="title">Danger Phrixos</span>
                </div>
                <div class="list-item__requisition">
                  <span>#40 Lorem Ipsum</span>
                </div>
                <div class="list-item__time" data-sort-value="2017-12-31T11:58:49.3320776-07:00">
                  <span>Dec 31, 2017 @ 06:58 PM</span>
                </div>
                <div class="list-item__status">
                  <span>pending</span>
                </div>
                <div class="end-icon cal-btn">
                  <span class="addtocalendar atc-style-button-icon atc-style-menu-wb" data-on-button-click="onAtcClick">
                    <a class="atcb-link">
                      <i class="icomoon-calendar"></i>
                    </a>
                    <var class="atc_event">
                        <var class="atc_date_start">2017-06-30 13:30:00</var>
                        <var class="atc_date_end">2017-06-30 14:30:00</var>
                        <var class="atc_timezone">EST</var>
                        <var class="atc_title">Interview: Beta Phrixos</var>
                        <var class="atc_description">Requisition: #9367 Lorem Ipsum</var>
                        <var class="atc_location">unknown</var>
                    </var>
                  </span>
                </div>
              </li>

          </ul>
          <div class="list__count hidden-lg-up">
            <span class="list__count-current">1</span> /
            <span class="list__count-total">8</span>
          </div>        </div>
      </div>
    </div>

    <div class="row row--mobile-no-gutters">
      <div class="dashboard__module calendar col-md-12">

        <div class="calendar-select is-desktop">
          <select class="calendar-month-select mdb-select">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>

        <div class="calendar-select month is-mobile">
          <select class="calendar-month-select">
            <option value="" disabled selected></option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <span class="caret"></span>
        </div>

        <div class="calendar-select is-desktop">
          <select class="calendar-year-select mdb-select">
            <option value="" disabled selected></option>
            <option value="1">2015</option>
            <option value="2">2016</option>
            <option value="3">2017</option>
            <option value="4">2018</option>
            <option value="5">2019</option>
            <option value="6">2020</option>
            <option value="7">2021</option>
          </select>
        </div>

        <div class="calendar-select year is-mobile">
          <select class="calendar-year-select">
            <option value="" disabled selected></option>
            <option value="1">2015</option>
            <option value="2">2016</option>
            <option value="3">2017</option>
            <option value="4">2018</option>
            <option value="5">2019</option>
            <option value="6">2020</option>
            <option value="7">2021</option>
          </select>
          <span class="caret"></span>
        </div>

        <div id="dashboard-calendar">
          <div class="calendar-container">
            <div id="clndr-grid" class="clndr-grid">
              <!-- will get day's events from dashboard-calendar-template-->
            </div>
            <div id="clndr-day" class="list__container">
              <!-- will get day's events from single-day-template -->
            </div>
            <!-- extra calendars used for sliding between months, never visible -->
            <div id="clndr-last-month-grid" class="hidden-cal-grid"></div>
          </div>
        </div>

        <script id="single-day-template" type="text/template">
          <div class="list__header">
            <span><%= date %></span>
          </div>
          <% if (events.length) { %>
            <ul class="dashboard-list">
              <% _.each(events, function (event) { %>
                <li class="list-item">
                  <div class="event-type"><%= event.eventType %></div>
                  <div class="event-name title"><%= event.name %></div>
                  <% if (event.eventType === 'interview') { %>
                    <div class="event-time"><%= event.time %></div>
                  <% } %>
                </li>
              <% }); %>
            </ul>
          <% } else { %>
            <div class="no-events"> You have no events on this date.</div>
          <% }; %>
        </script>

        <script id="dashboard-calendar-template" type="text/template">
          <div class="days-of-the-week">
          <% _.each(daysOfTheWeek, function (day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
          </div>
          <div class="days">
            <div class="week">
            <% _.each(days, function (day, index) { var closeWeek = (index + 1) % 7 === 0 && index < 41 %>
              <div class="<%= day.classes %>">
                <div class="day-square">
                  <span class="day-text"><%= day.day %></span>
                </div>
              </div>
            <% if (closeWeek) { %>
            </div><div class="week">
            <% } %>
            <% }); %>
            </div>
          </div>
        </script>

      </div>
    </div>

    <div class="row row--mobile-no-gutters">
      <div class="dashboard__module utilities col-lg-6">
        <h1>Utilities</h1>
        <div class="list__container">
          <div class="list__header">
            <div class="header-sort" data-sort-dir="down">
              <span data-sort-text="down">Alphabetical (A &mdash; Z)</span>
              <span data-sort-text="up" style="display: none">Alphabetical (Z &mdash; A)</span>
            </div>
          </div>
          <ul class="dashboard-list">
              <li class="list-item list-item--is-new">
                <span class="title">ACA Survey Response</span>
              </li>
              <li class="list-item list-item--is-new">
                <span class="title">Dynamic Letter</span>
              </li>
              <li class="list-item ">
                <span class="title">Purge Candidate Data</span>
              </li>
              <li class="list-item ">
                <span class="title">Time Clock Data Upload</span>
              </li>
              <li class="list-item list-item--is-new">
                <span class="title">Edit Vendor Location</span>
              </li>
              <li class="list-item ">
                <span class="title">Not Approved Timecards</span>
              </li>
          </ul>
        </div>
      </div>

      <div class="dashboard__module documents col-lg-6">
        <h1>Documents</h1>
        <div class="list__container">
          <div class="list__header">
            <div class="header-sort" data-sort-dir="down">
              <span data-sort-text="down">Alphabetical (A &mdash; Z)</span>
              <span data-sort-text="up" style="display: none">Alphabetical (Z &mdash; A)</span>
            </div>
          </div>
          <ul class="dashboard-list">
              <li class="list-item list-item--is-new">
                <span class="title">Document A</span>
              </li>
              <li class="list-item list-item--is-new">
                <span class="title">Document B</span>
              </li>
              <li class="list-item ">
                <span class="title">Document C</span>
              </li>
              <li class="list-item ">
                <span class="title">Document D</span>
              </li>
              <li class="list-item ">
                <span class="title">Document E</span>
              </li>
              <li class="list-item ">
                <span class="title">Document F</span>
              </li>
              <li class="list-item ">
                <span class="title">Document G</span>
              </li>
              <li class="list-item ">
                <span class="title">Document H</span>
              </li>
              <li class="list-item ">
                <span class="title">Document I</span>
              </li>
              <li class="list-item ">
                <span class="title">Document J</span>
              </li>
              <li class="list-item ">
                <span class="title">Document K</span>
              </li>
              <li class="list-item ">
                <span class="title">Document L</span>
              </li>
          </ul>
        </div>
      </div>
    </div>


        <div class="footer-copyright">
          &copy; 2001 &mdash; 2017 AgileOne  /  All Rights Reserved  /  Powered by AgileOne v8.7.1.0
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/common/index.js"></script>
    <script type="text/javascript" src="js/dashboard/index.js"></script>
  </body>

</html>
