
<html>

  <head>
    <title>Job Record - Modal - End Assignment: Additional Details &amp; Explanation (Conversion to Full Time) | AccelerationVMS</title>

    <meta name="viewport" content="initial-scale=0.5">
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript">
      var MTIProjectId='02c4fc8d-99e1-408c-b167-8e4543887bdd';
      (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
        mtiTracking.src='js/mtiFontTrackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
       })();
    </script>

    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/quill.snow.css" />
    <link rel="stylesheet" href="css/vendor/slick.css" />
    <link rel="stylesheet" href="css/vendor/slick-theme.css" />

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>

  <body class="">
    <div class="dev-grid container-fluid">
    	<div class="row">
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    		<div class="col-sm-1"><div class="content"></div></div>
    	</div>
    </div>

    <div class="main-container">
      <div class="nav-bar-container">
        <div class="nav-bar">
        
          <div class="nav-bar__logo">
            <img src="img/accel-logo-off-white.svg" alt="Acceleration VMS" />
          </div>
        
          <div class="nav-bar__burger">
            <div class="nav-bar__burger-inner"></div>
          </div>
        
          <ul class="nav-bar__items nav-bar__items--mobile-bar">
            <li class="nav-bar__item nav-bar__item--has-new">
              <a href="#" data-menu-id="todo">To Do <span class="nav-bar__item-count">138</span></a>
            </li>
            <li class="nav-bar__item nav-bar__item--has-new">
              <a href="#" data-menu-id="messages">Messages <span class="nav-bar__item-count">9</span></a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="bookmarks">Bookmarks</a>
            </li>
          </ul>
        
          <ul class="nav-bar__items nav-bar__items--mobile-menu">
            <li class="nav-bar__item nav-bar__item--mobile-search hidden-lg-up">
              <a href="#">
                <i class="material-icons search-icon">search</i>
                Search
                <i class="material-icons">close</i>
              </a>
            </li>
        
            <li class="nav-bar__item">
              <a href="#" data-menu-id="jobs">
                Jobs <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="projects">
                Projects <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="people">
                People <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="invoices">
                Invoices <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="reports">
                Reports + Charts <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
            <li class="nav-bar__item">
              <a href="#">Timecards</a>
            </li>
            <li class="nav-bar__item">
              <a href="#">ICC</a>
            </li>
            <li class="nav-bar__item">
              <a href="#" data-menu-id="help">
                Need Help? <i class="material-icons hidden-lg-up">keyboard_arrow_right</i>
              </a>
            </li>
        
            <li class="nav-bar__item hidden-md-up">
              <a href="#" data-menu-id="help">
                Richard James <i class="material-icons">keyboard_arrow_right</i>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="nav-bar-menu-scrim"></div>
        
        <div class="nav-bar-menu" data-menu-id="todo">
          <div class="nav-bar-menu__header">
            To Do <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--wide" data-menu-id="messages">
          <div class="nav-bar-menu__header">
            Messages <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu" data-menu-id="bookmarks">
          <div class="nav-bar-menu__header">
            Bookmarks <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="jobs">
          <div class="nav-bar-menu__header">Jobs <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        </div>
          <a class="nav-bar-menu__action" href="#">
            <i class="material-icons">add</i> Create a New Job
          </a>
          <div class="nav-bar-menu__items">
          </div>
        
          <div class="nav-bar-menu__header">Assignments</div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="projects">
          <div class="nav-bar-menu__header">Projects <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        </div>
          <a class="nav-bar-menu__action" href="#">
            <i class="material-icons">add</i> Create a New Project
          </a>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="people">
          <div class="nav-bar-menu__header">
            People <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="invoices">
          <div class="nav-bar-menu__header">
            Invoices <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--mobile-submenu" data-menu-id="reports">
          <div class="nav-bar-menu__header">
            Reports + Charts <a href="#" class="close-btn">
          <i class="material-icons icon-back">arrow_back</i>
          <i class="material-icons icon-x">close</i>
        </a>
        
          </div>
          <div class="nav-bar-menu__items">
          </div>
        </div>
        
        <div class="nav-bar-menu nav-bar-menu--multi-section nav-bar-menu--mobile-submenu" data-menu-id="help">
          <div class="nav-bar-menu__header">
            Help <a href="#" class="close-btn"><i class="material-icons">arrow_back</i></a>
          </div>
          <div class="help-content">
          
            <div class="help-content-contact">
              <h4>Support</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-contact">
              <h4>Admin</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-contact">
              <h4>On-Site</h4>
              <p>Department Name</p>
              <p>800-872-2677 ext. 1234</p>
              <p><a href="mailto:helpdesk@agile1.com">helpdesk@agile1.com</a></p>
            </div>
          
            <div class="help-content-guide">
              <a href="https://ag.agile1.com/EP.Web.Doc/help/en-US/Manager/default.htm" target="_blank">Help Guide <i class="material-icons">arrow_forward</i></a>
            </div>
          
          </div>
        </div>
      </div>

        <div class="banner banner--state-collapse banner-system-maintenance hidden-sm-down">
          <div class="banner__header">
            <span class="banner__alert-icon"><i class="icomoon-alert"></i></span>
            <span class="banner__text">System Downtime Scheduled for September 27, 2017 12:34 AM to 01:23 PM</span>
            <div class="banner__expand-icon">
              <i class="icomoon-plus icon-expand"></i>
              <i class="icomoon-minus icon-collapse"></i>
            </div>
          </div>
          <div class="banner__content">
            Acceleration VMS will be unavailable Saturday night from Sunday 12 am to 4 am PST for a security upgrade. If this disrupts any regularly scheduled processes for your team, please contact your Acceleration administrator as soon as possible to reschedule.
          </div>
        </div>

      <div class="header">
          <div class="header__button header__button--has-new header__burger"><i class="icomoon-hamburger"></i></div>
        <div class="header__content">
        </div>
        <div class="header__button"><i class="icomoon-search"></i></div>
        <div class="header__button"><i class="icomoon-bookmark-no-fill"></i></div>
      </div>

      <div class="body-container container-fluid">

  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            End Assignment: 4282, Jason TheJet
          <div class="modal-header__close">
            <i class="material-icons">close</i>
          </div>
        </div>


          <ol class="modal-ordered-nav">
    <li class="modal-ordered-nav__item">End Dates, Assets &amp; Evaluation</li>
    <li class="modal-ordered-nav__item modal-ordered-nav__item--active">Additional Details &amp; Explanation</li>
          </ol>
        <div class="modal-panel">
          <div class="modal-body">
  <div class="modal-section">
    <div class="row">
      <div class="col-md-4">
        <h6>Reason</h6>
        <div class="form-select">
          <div class="form-select-label">Reason *</div>
          <select class="mdb-select" required>
              <option value="no_show">No show</option>
              <option value="complete">Assignment complete</option>
              <option value="tardiness">Excessive tardiness</option>
              <option value="absences">Excessive absences</option>
              <option value="engaged">Engaged by client</option>
              <option value="illness">Illness or disability</option>
              <option value="lack_of_work">Lack of work from client</option>
              <option value="productivity">Productivity</option>
              <option value="skill_deficiency">Skill deficiency</option>
              <option value="unable_to_work">Unable to work hours or shifts</option>
              <option value="no_reason">No reason</option>
              <option value="other">Other</option>
          </select>
        </div>
        <div class="md-form">
          
        
          <textarea
            type='text'
            class="md-textarea"
            id=""
            
            
          ></textarea>
        
        
          <label
            for=""
            class=""
        >
            <span>confirm end by explaining</span>
          </label>
        
          
        </div>
        <div class="md-form">
          
        
          <textarea
            type='text'
            class="md-textarea"
            id=""
            
            
          ></textarea>
        
        
          <label
            for=""
            class=""
        >
            <span>comment to worker&#x27;s vendor</span>
          </label>
        
          
        </div>
      </div>

      <div class="col-md-4">
        <h6>Replacement Dates</h6>
        <div class="md-form date-picker">
          
        
          <i class="icomoon-calendar prefix"></i>
        
          <input
            type="text"
            id="pref_conversion_date"
            class="form-control "
            
            
          />
        
          <label
            for="pref_conversion_date"
            class="unfilled"
        >
            <span>preferred conversion date</span>
          </label>
        
          <!-- initially hidden -->
          <div class="popup-menu">
            <div class="popup-menu__head">
              <span>preferred conversion date</span>
              <div class="popup-menu__head-shadow-hider"></div>
            </div>
            <div class="popup-menu__body popup-menu__body--date">
              <div class="popup-menu__clndr-grid clndr-grid">
                <!-- will get calendar from list-calendar-template-->
              </div>
            </div>
          </div>
        
          <!-- TEMPLATE FOR CLNDR -->
          <!-- TODO: put this somewhere re-usable -->
          <script id="datepicker-calendar-template" type="text/template">
            <div class="clndr-controls">
              <div class="clndr-previous-button no-hide-popups"></div>
              <div class="month"><%= month %> <%= year %></div>
              <div class="clndr-next-button no-hide-popups"></div>
            </div>
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
              <div class="header-day"><%= day %></div>
            <% }); %>
            </div>
            <div class="days">
              <% _.each(days, function (day) { %>
              <div class="<%= day.classes %>">
                <div class="day-square">
                  <span class="day-text"><%= day.day %></span>
                </div>
              </div>
              <% }); %>
            </div>
          </script>
        
          
        </div>
        <div class="md-form">
          
        
          <input
            type="number"
            id="est_fees"
            class="form-control "
            min="0" step="1"
            
            
            
            
            
          />
          <span class="secondary-label">USD</span>
        
          <label
            for="est_fees"
            class=""
        >
            <span>estimated conversion fees</span>
          </label>
        
          
        </div>
        <div class="md-form">
          
        
          <input
            type="number"
            id="paid_amt"
            class="form-control "
            min="0" step="1"
            
            
            
            
            
          />
          <span class="secondary-label">USD</span>
        
          <label
            for="paid_amt"
            class=""
        >
            <span>paid amount</span>
          </label>
        
          
        </div>
      </div>
    </div>
  </div>
          </div>
          <div class="modal-footer modal-footer--multi-cta">
    <a href="#" class="btn btn-small btn-default">
      <i class="material-icons pre-label">arrow_backward</i>
      Back (&amp; Save)
    </a>
    <a href="#" class="btn btn-primary btn-small">
      End <i class="material-icons">arrow_forward</i>
    </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 600px;"></div>

        <div class="footer-copyright">
          &copy; 2001 &mdash; 2017 AgileOne  /  All Rights Reserved  /  Powered by AgileOne v8.7.1.0
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/common/index.js"></script>
    <script type="text/javascript" src="js/modal/index.js"></script>
  </body>

</html>
