:root {
  font-size: 62.5%;
}

/* resets */
html,
body,
div,
span,
a,
iframe,
img,
header,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--open-sans);
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  font-weight: 500;
  font-family: var(--rasa);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 255, 1);

  &,
  & > * {
    transition: all 0.1s;

    &:hover {
      text-shadow: -0.3px 0px 0px rgba(0, 0, 255, 1),
        0.3px 0px 0px rgba(0, 0, 255, 1), 1px 2px 2px rgba(0, 0, 0, 0.2);

      .background {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

main.text {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 50px 50px 50px;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

header {
  margin: 50px auto 0 auto;
  text-align: center;

  h1 {
    margin: 0;
  }

  a {
    display: inline-block;
  }
}

.grid {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 4dvw;
  row-gap: 50px;
  padding: 50px;
}

.block:first-child {
  aspect-ratio: auto;
}

.block {
  aspect-ratio: 4.5/4;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;

  p:first-child {
    margin-top: 0;
  }

  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .background {
      flex-grow: 1;
      position: relative;
      background-color: black;
      /* border: 1px solid black; */
      min-height: 150px;
      margin: 5px 0 15px;
      transition: all 0.1s;

      .playPause {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 40px;
        padding: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        &:focus {
          opacity: 1;
        }
      }

      &:hover .playPause {
        opacity: 1;
      }

      img,
      video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;

        &.contain {
          object-fit: contain;
        }

        &.center {
          object-position: center center;
        }
      }
    }

    h2 {
      margin: 0;
      position: relative;
    }
  }

  /* outbound link arrow */
  a.main:not(a[href^="/"]) h2::after {
    content: "➚";
    font-size: 15px;
    margin-left: 5px;
    display: inline-block;
    transform: translateY(-20%);
  }

  .text {
    flex-shrink: 1;

    &:first-child {
      margin-top: 40px;
    }
  }
}

/* Mobile Portrait */
@media screen and (max-width: 580px) {
  .block {
    aspect-ratio: unset;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }
}
